.holder {
  display: flex ;
}
.item {
  height: 150px;
  width: 200px;
  text-align: center;
  background-color: orange;
  line-height: 100px;
  vertical-align: center;
  margin-right: 15px;
}
.item-5{
  order: -2;
}
.item-1 {
  order: -3;
}
.item-3 {
  order: 2;  
}

